<a href="https://colab.research.google.com/github/berggama/bootcamp_embraer/blob/main/desafio_modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio
## Módulo 2 - Python para a análise de dados

## Objetivos
Exercitar os seguintes conceitos trabalhados no Módulo:
- Realizar a análise de uma base de dados real em Python.

## Enunciado
O uso de bicicletas como meio de transporte ganhou muita força nos últimos
anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura
de trânsito. Para incentivar seu uso, cidades em todo o mundo têm implementado programas de compartilhamento de bicicleta. Nesses sistemas, elas são retiradas e devolvidas em quiosques automatizados que ficam espalhados por diversos pontos da cidade. As plataformas de compartilhamento de bicicletas costumam coletar diversos tipos de dados, como a duração da viagem, as localizações iniciais e finais dos percursos, entre outros. Esses dados, em conjunto com informações sobre o clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais robusta do compartilhamento de bicicletas. Segue um descritivo dos dados coletados:

```
− rec_id: índice do registro de locação;
− datetime: data;
− season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte;
− year: ano (0: 2011, 1:2012);
− month: mês (1 a 12);
− hour: hora do dia (0 a 23);
− is_holiday: booleano indicando feriado;
− weekday: dia da semana (0: domingo, 1: segunda-feira, ..., 6: sábado);
− is_workingday: booleano indicando dia útil;
− weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);
− temp: Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;
− atemp: Sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50;
− humidity: Humidade relativa (0 a 1);
− windspeed: Velocidade do vento escalada entre 0 e 1 (máximo original: 67);
− casual: número de locações para usuários casuais;
− registered: número de locações para usuários registrados;
− total_count: contador total de aluguéis (casual+registered).
```
Esta atividade tem como objetivo analisar os dados de compartilhamento de bicicletas em uma cidade, coletados pela Universidade do Porto.

## Atividades

1) Acessar o ambiente Google Colaboratory (recomendado) ou qualquer ambiente de desenvolvimento em Python.

2) Importar as bibliotecas do numpy e pandas conforme:
```
# importando bibliocas
import numpy as np
import pandas as pd

```

In [2]:
# importando bibliocas
import numpy as np
import pandas as pd

3) Carregar o dataset https://pycourse.s3.amazonaws.com/bike-sharing.csv
para análise utilizando o pandas. Exemplo:
```
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
```

In [3]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [9]:
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [10]:
df.dtypes

datetime              object
rec_id                 int64
season                 int64
year                   int64
month                  int64
hour                   int64
is_holiday             int64
weekday                int64
is_workingday          int64
weather_condition      int64
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
total_count            int64
dtype: object

In [49]:
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

4) Responder às seguintes perguntas:

1.   Qual o tamanho desse dataset?

In [8]:
print(f'Número de linhas: {df.shape[0]}\nNúmero de colunas: {df.shape[1]}')

Número de linhas: 17379
Número de colunas: 17

2. Qual a média da coluna windspeed?

In [81]:
avg_windspeed = df['windspeed'].mean()
print(f'Média da coluna windspeed: {avg_windspeed: .7f}')

Média da coluna windspeed:  0.1900976

3. Qual a média da coluna temp?

In [82]:
avg_temp = df['temp'].mean()
print(f'Média da coluna windspeed: {avg_temp: .7f}')

Média da coluna windspeed:  0.4969872

4. Quantos registros existem para o ano de 2011?

In [29]:
df_2011 = df[df['year']==0]
print(f'Registros em 2011: {df_2011.shape[0]}')

Registros em 2011: 8645

5. Quantos registros existem para o ano de 2012?

In [31]:
df_2012 = df[df['year']==1]
print(f'Registros em 2012: {df_2012.shape[0]}')

Registros em 2012: 8734

6. Quantas locações de bicicletas foram efetuadas em 2011?

In [37]:
loc_2011 = df[df['year']==0]['total_count'].sum()
print(f'Locações de bicicletas em 2011: {loc_2011}')

Locações de bicicletas em 2011: 1243103

7. Quantas locações de bicicletas foram efetuadas em 2012?

In [39]:
loc_2012 = df[df['year']==1]['total_count'].sum()
print(f'Locações de bicicletas em 2012: {loc_2012}')

Locações de bicicletas em 2012: 2049576

8. Qual estação do ano contém a maior média de locações de
bicicletas?

In [68]:
avg_season = df[['season', 'total_count']].groupby(['season']).mean().sort_values(by='total_count', ascending=False)
avg_season[avg_season['total_count']==avg_season['total_count'].max()]

        total_count
season
3        236.016237

9. Qual estação do ano contém a menor média de locações de
bicicletas?

In [69]:
avg_season = df[['season', 'total_count']].groupby(['season']).mean().sort_values(by='total_count', ascending=False)
avg_season[avg_season['total_count']==avg_season['total_count'].min()]

        total_count
season
1        111.114569

10. Qual horário do dia contém a maior média de locações de
bicicletas?

In [71]:
avg_hour = df[['hour', 'total_count']].groupby(['hour']).mean().sort_values(by='total_count', ascending=False)
avg_hour[avg_hour['total_count']==avg_hour['total_count'].max()]

      total_count
hour
17     461.452055

11. Qual horário do dia contém a menor média de locações de
bicicletas?

In [72]:
avg_hour = df[['hour', 'total_count']].groupby(['hour']).mean().sort_values(by='total_count', ascending=False)
avg_hour[avg_hour['total_count']==avg_hour['total_count'].min()]

      total_count
hour
4        6.352941

12. Que dia da semana contém a maior média de locações de
bicicletas?

In [74]:
avg_weekday = df[['weekday', 'total_count']].groupby(['weekday']).mean().sort_values(by='total_count', ascending=False)
avg_weekday[avg_weekday['total_count']==avg_weekday['total_count'].max()]

         total_count
weekday
4         196.436665

13. Que dia da semana contém a menor média de locações de
bicicletas?

In [75]:
avg_weekday = df[['weekday', 'total_count']].groupby(['weekday']).mean().sort_values(by='total_count', ascending=False)
avg_weekday[avg_weekday['total_count']==avg_weekday['total_count'].min()]

         total_count
weekday
0         177.468825

14. Às quartas-feiras (weekday = 3), qual o horário do dia que contém
a maior média de locações de bicicletas?

In [78]:
avg_wednesday = df[df['weekday']==3][['hour', 'total_count']].groupby(['hour']).mean().sort_values(by='total_count', ascending=False)
avg_wednesday [avg_wednesday ['total_count']==avg_wednesday ['total_count'].max()]

      total_count
hour
17     513.144231

15. Aos sábados (weekday = 6), qual o horário do dia que contém a
maior média de locações de bicicletas?

In [79]:
avg_wednesday = df[df['weekday']==6][['hour', 'total_count']].groupby(['hour']).mean().sort_values(by='total_count', ascending=False)
avg_wednesday [avg_wednesday ['total_count']==avg_wednesday ['total_count'].max()]

      total_count
hour
13     385.371429